<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="newEditContainer containerMaxWidth flex">
        <h1>Edit <%= plant.plantName %></h1>
    
        <form class="flex" action="/users/<%= user._id %>/plants/<%= plant._id %>?_method=PUT" method="post">
            <label for="plantName">Plant Name</label>
            <input type="text" id="plantName" name="plantName" value="<%= plant.plantName %>" required/>
    
            <label for="season">Planting Season</label>
            <select id="season" name="season" required>
                <option value="summer" <%= plant.season === 'summer' ? 'selected' : '' %>>Summer</option>
                <option value="fall" <%= plant.season === 'fall' ? 'selected' : '' %>>Fall</option>
                <option value="winter" <%= plant.season === 'winter' ? 'selected' : '' %>>Winter</option>
                <option value="spring" <%= plant.season === 'spring' ? 'selected' : '' %>>Spring</option>
            </select>
    
            <label for="plantType">Plant Type</label>
            <select id="plantType" name="plantType" required>
                <option value="herb" <%= plant.plantType === 'herb' ? 'selected' : '' %>>Herb</option>
                <option value="veggie" <%= plant.plantType === 'veggie' ? 'selected' : '' %>>Veggie</option>
                <option value="fruit" <%= plant.plantType === 'fruit' ? 'selected' : '' %>>Fruit</option>
                <option value="flower" <%= plant.plantType === 'flower' ? 'selected' : '' %>>Flower</option>
                <option value="other" <%= plant.plantType === 'other' ? 'selected' : '' %>>Other</option>
            </select>
    
            <label for="quantity">Quantity of Seed Packets</label>
            <input type="number" id="quantity" name="quantity" value="<%= plant.quantity %>" min="0"/>
    
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes">
                <%= plant.notes %>
            </textarea>
    
            <button class="newEditBtn" type="submit">Update <%= plant.plantName %></button>
        </form>
    </div>
</body>
</html>