<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>My Seed Collection</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="plantIdx containerMaxWidth flex">
        <% if (typeof message !== 'undefined') { %>
            <div class="flashMessage">
                <p><%= message %></p>
            </div>
        <% } %>
        <div class="plantIdxHeading flex">
            <h1>My Seed Collection</h1>
            <a class="newBtn" href="/users/<%= user._id %>/plants/new">Add Plant</a>
        </div>
        <div class="plantIdxContainer flex">
            <section class="plantIdxSection">
                <h2>Herbs</h2>
                <ul class="plantCardContainer">
                    <% plants.forEach(plant => { %>
                        <% if (plant.plantType === 'herb') { %>
                            <li class="card">
                                <div class="plantImg">
                                    <img src="/images/herbs.jpg" alt="herbs growing in carton planters">
                                </div>
                                <div class="plantText">
                                    <h3>
                                        <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                                    </h3>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>

            <section class="plantIdxSection">
                <h2>Veggies</h2>
                <ul class="plantCardContainer">
                    <% plants.forEach(plant => { %>
                        <% if (plant.plantType === 'veggie') { %>
                            <li class="card">
                                <div class="plantImg">
                                    <img src="/images/veggie.jpg" alt="tomaoes in crate">
                                </div>
                                <div class="plantText">
                                    <h3>
                                        <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                                    </h3>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>

            <section class="plantIdxSection">
                <h2>Fruit</h2>
                <ul class="plantCardContainer">
                    <% plants.forEach(plant => { %>
                        <% if (plant.plantType === 'fruit') { %>
                            <li class="card">
                                <div class="plantImg">
                                    <img src="/images/fruit.jpg" alt="strawberries hanging from planter">
                                </div>
                                <div class="plantText">
                                    <h3>
                                        <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                                    </h3>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>

            <section class="plantIdxSection">
                <h2>Flower</h2>
                <ul class="plantCardContainer">
                    <% plants.forEach(plant => { %>
                        <% if (plant.plantType === 'flower') { %>
                            <li class="card">
                                <div class="plantImg">
                                    <img src="/images/flowers.jpg" alt="groups of flowers in the sunlight">
                                </div>
                                <div class="plantText">
                                    <h3>
                                        <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                                    </h3>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>

            <section class="plantIdxSection">
                <h2>Other</h2>
                <ul class="plantCardContainer">
                    <% plants.forEach(plant => { %>
                        <% if (plant.plantType === 'other') { %>
                            <li class="card">
                                <div class="plantImg">
                                    <img src="/images/other.jpg" alt="a garden box with herbs and lettuce">
                                </div>
                                <div class="plantText">
                                    <h3>
                                        <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                                    </h3>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>