<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>My Seed Collection</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="plantIdx containerMaxWidth flex">
        <div class="plantIdxHeading flex">
            <h1>My Seed Collection</h1>
            <a class="newBtn" href="/users/<%= user._id %>/plants/new">Add Plant</a>
        </div>
        <ul class="plantCardContainer flex">
            <% plants.forEach(plant => { %>
                <li class="card">
                    <div class="plantImg">
                        <% if (plant.plantType === 'herb') { %>
                            <img src="/images/herbs.jpg" alt="herbs growing in carton planters">
                        <% } else if (plant.plantType === 'veggie') { %>
                            <img src="/images/veggie.jpg" alt="tomaoes in crate">
                        <% } else if (plant.plantType === 'fruit') { %>
                            <img src="/images/fruit.jpg" alt="strawberries hanging from planter">
                        <% } else if (plant.plantType === 'flower') { %>
                            <img src="/images/flowers.jpg" alt="groups of flowers in the sunlight">
                        <% } else if (plant.plantType === 'other') { %>
                            <img src="/images/other.jpg" alt="a garden box with herbs and lettuce">
                        <% }%>
                    </div>
                    <div class="plantText">
                        <h2>
                            <a href="/users/<%= user._id %>/plants/<%= plant._id %>"><%= plant.plantName %></a>
                        </h2>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>